<section class="section__catalog">
    <div class="container">
        <div class="catalog">
            <div class="catalog__item left__item">
                <div class="catalog__bar">
                    <h3 class="catalog__title">Категории</h3>

                    <div class="catalog__manufacturer active" data-config-id="1">
                        <img src="@img/tab1act.png" class="active__img" alt="img">
                        <img src="@img/tab1def.png" class="passive__img" alt="img">
                    </div>
                    <!-- Configurator -->
                    <div class="configurator active" data-id="1">
                        <div class="additional">
                            <div class="additional__title">
                                <a href="category.html">Сервоприводы для систем ЧПУ</a>
                                <svg class="configurator__arrow additional__arrow" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 15.5L12 9.5L18 15.5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                            <div class="configurator__additional">
                                <div class="configurator__item additional__item">
                                    <div class="configurator__item-title">
                                        <a href="#">Системы управления для токарных станков</a>
                                        <img src="@img/config_arrow.svg" alt="img" class="configurator__arrow">
                                    </div>
                                </div>
                                <div class="configurator__item additional__item">
                                    <div class="configurator__item-title">
                                        <a href="#">Системы управления для токарных станков</a>
                                        <img src="@img/config_arrow.svg" alt="img" class="configurator__arrow">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
            <div class="catalog__item right__item">
                <div class="catalog__img"></div>
                @@if (type == 'category') {
                    @@include('category.html')
                }
                @@if (type == 'categories') {
                    @@include('categories.html')
                }
                @@if (type == 'subcategory') {
                    @@include('subcategory.html')
                }
            </div>
        </div>
    </div>
</section>