.series {

    margin-top: 40px;

    @media (max-width: $breakpoint768) {
        margin-top: 20px;
    }

    // .series__text
    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 170%;
        color: $black;
        margin-top: 10px;

        @media (max-width: $breakpoint992) {
            font-size: 14px;
            line-height: 150%;
        }
    }

    // .series__tabs
    &__tabs {
        margin-top: 40px;

        @media (max-width: $breakpoint768) {
            margin-top: 20px;
        }
    }

    // .series__items
    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;

        margin-top: 60px;

        @media (max-width: $breakpoint992) {
            margin-top: 40px;
        }
    }

    // .series__item
    &__item {
        
        flex: 1 0 248px;
        max-width: calc(50% - 15px);

        @media (max-width: $breakpoint480) {
            max-width: unset;
        }

    }

    // .series__item-img
    &__item-img {
        outline: 1px solid #666665;
        padding: 5px 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        height: 272px;

        @media (max-width: $breakpoint480) {
            padding: 5px 10px;
        }

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }

    // .series__item-title
    &__item-title {
        text-align: center;
        margin-top: 10px;

        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $secondary;

        @media (max-width: $breakpoint992) {
            font-size: 14px;
        }
    }

}

